.bg-color {
    background-color: #FAFAFA;
}
.font {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.small-text {
    font-size: 15px;
}
.skip-link {
  font-weight: 700;
  left: 40%;
  padding: 4px;
  position: absolute;
  transform: translateY(-500%);
  transition: transform 0.3s;
}
.skip-link:focus {
  transform: translateY(0%);
}
.offcanvas-lg {
    width: 70px !important;
    z-index: 999 !important;
}
.offcanvas-lg::-webkit-scrollbar, .height::-webkit-scrollbar {
  display: none;
}
.offcanvas-lg, .height {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.stroke {
    stroke: #B2ABAB;
}
*:focus, *:focus-visible {
    outline: 3px solid rgb(52, 202, 165) !important;
    border-radius: 5px !important;
}
.main-content {
    width: 100%;
}
.dropdown-toggle::after {
    display: none;
}
.green-pill {
    background-color: rgba(52, 202, 165, 0.2);
    color: rgb(52, 202, 165);
    font-size: 13px;
}
.red-pill {
    background-color: rgba(237, 84, 78, 0.2);
    color: rgb(237, 84, 78);
    font-size: 13px;
}
.green-text {
    color: rgb(52, 202, 165);
}
.red-text {
    color: rgb(237, 84, 78);
}
.medium-text {
    font-size: 18px;
}
.bg-purple {
    background-color: #6160DC;
}
.bg-lightblue {
    background-color: #54C5EB;
}
.bg-orange {
    background-color: #FFB74A;
}
.bg-red {
    background-color: #FF4A55;
}

@media (min-width: 768px) {
    .dropdown-toggle {
        border: 1px solid #B2ABAB;
    }
}

@media (min-width: 800px) {
    .skip-link {
        left: 25%;
    }
    .main-content {
        width: calc(100% - 70px);
        margin-left: 70px;
    }
    .height {
        height: 24rem;
    }
}